/* src/styles/Sidebar.css */
.sidebar {
    width: 200px;
    background-color: #1e1e2f;
    color: white;
    padding: 1rem;
    position:absolute;
    z-index:0;
    transition: left 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 0.5rem 0;
}
/* Sidebar List Items */
.sidebar ul li.listitem {
    border: 1px solid white; /* Apply white border */
    padding: 0.5rem; /* Add padding for better spacing */
    margin-bottom: 0.5rem; /* Add margin to create space between items */
    border-radius:10px;
}


/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}